<html>
<head>
    <form name='myForm' ng-app='app'>
        <div>MIN: <input name='min' type="number" ng-model='min'></div>
        <div>MAX: <input name='max' type="number" ng-model='max'></div>
        <div>VALUE: <input name='value' type="text" ya-min='min' ya-max='max' ng-model='value'></div>
        <div ng-if='myForm.value.$error.min'>MIN ERROR</div>
        <div ng-if='myForm.value.$error.max'>MAX ERROR</div>
    </form>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="angular-min-max-validation.js"></script>
<script>
    angular.module('app', ['minMaxValidations'])
</script>
</body>
</html>